[submodule "dependencies/glfw"]
	path = dependencies/glfw
	url = https://github.com/glfw/glfw.git
[submodule "dependencies/glm"]
	path = dependencies/glm
	url = https://github.com/g-truc/glm.git
[submodule "dependencies/glad-3.33"]
	path = dependencies/glad-3.3
	url = https://github.com/dargonfyl/glad-3.3.git
[submodule "imgui"]
	path = dependencies/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "dependencies/imgui/"]
	branch = docking
[submodule "dependencies/stb"]
	path = dependencies/stb
	url = https://github.com/nothings/stb.git
[submodule "dependencies/tinyfiledialogs"]
	path = dependencies/tinyfiledialogs
	url = https://github.com/native-toolkit/tinyfiledialogs.git
